@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
    min-height: 100vh !important; /* Ensure enough height */
}

#layout-menu {
    position: sticky !important;
    top: 0 !important;           /* Stick to the top */
    z-index: 1000 !important;   /* Adjust as needed */
}

#layout-menu {
    position: sticky !important;
    top: 0;
    z-index: 1000 !important; /* Adjust as necessary */
}